/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000 */

.nunito-base {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  padding: 1rem 2rem;
}

body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1rem, solid, black;
}
.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px, solid, black;
}
.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Index Page Only */
.projects {
  flex: 1;
  border: 1px solid;
  padding: 0.5rem 1rem;
}

.projects ul {
  list-style: none;
}

.projects li {
  margin-bottom: 1rem;
}

.work-experience {
  flex: 1;
  border: 1px solid;
  padding: 0.5rem 1rem;
}

.education {
  flex: 1;
  border: 1px solid;
  padding: 0.5rem 1rem;
}

.reviews {
  width: 25%;
  padding: 0.5rem 1rem;
  border: 0.2rem, solid;
  border-radius: 1.5rem;
}

.reviews footer {
  color: lightgray;
  text-size-adjust: 0.5rem;
}

/* Contact Page Only */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
